@page "/"

<h1>Matchmaking client</h1>

<div class="jumbotron">
    Matchmaking client to find evenly skilled Players for Direct Strike created by Tya, one of StarCraft II’s most popular Arcade maps ever.
    <br />
    For generating the matchups and ratings <a href="https://trueskill.org/">Trueskill</a> is used.
</div>
