@page "/ladderreplays"
@page "/ladderreplays/{RepId:int}"
@using Microsoft.AspNetCore.Components;
@using System.ComponentModel;
@using dsmm_server.Data;
@using pax.s2decode.Models;
@inject NavigationManager NavigationManager
@inject StartUp _startUp

<h3>LadderReplays</h3>

@code {

}
